#plus-button, .avatar-box, .more-activities .description, .active-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Vollkorn';
  src: url("/fonts/Vollkorn-Italic.eot");
  src: local("Vollkorn Italic"), local("Vollkorn-Italic"), url("/fonts/Vollkorn-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/Vollkorn-Italic.woff2") format("woff2"), url("/fonts/Vollkorn-Italic.woff") format("woff"), url("/fonts/Vollkorn-Italic.ttf") format("truetype"), url("/fonts/Vollkorn-Italic.svg#Vollkorn-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Vollkorn';
  src: url("/fonts/Vollkorn-Regular.eot");
  src: local("Vollkorn Regular"), local("Vollkorn-Regular"), url("/fonts/Vollkorn-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Vollkorn-Regular.woff2") format("woff2"), url("/fonts/Vollkorn-Regular.woff") format("woff"), url("/fonts/Vollkorn-Regular.ttf") format("truetype"), url("/fonts/Vollkorn-Regular.svg#Vollkorn-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("/fonts/Cuprum-BoldItalic.eot");
  src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"), url("/fonts/Cuprum-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Cuprum-BoldItalic.woff2") format("woff2"), url("/fonts/Cuprum-BoldItalic.woff") format("woff"), url("/fonts/Cuprum-BoldItalic.ttf") format("truetype"), url("/fonts/Cuprum-BoldItalic.svg#Cuprum-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url("/fonts/Cuprum-Italic.eot");
  src: local("Cuprum Italic"), local("Cuprum-Italic"), url("/fonts/Cuprum-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/Cuprum-Italic.woff2") format("woff2"), url("/fonts/Cuprum-Italic.woff") format("woff"), url("/fonts/Cuprum-Italic.ttf") format("truetype"), url("/fonts/Cuprum-Italic.svg#Cuprum-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Vollkorn Bold';
  src: url("/fonts/Vollkorn-BoldItalic.eot");
  src: local("Vollkorn Bold Italic"), local("Vollkorn-BoldItalic"), url("/fonts/Vollkorn-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Vollkorn-BoldItalic.woff2") format("woff2"), url("/fonts/Vollkorn-BoldItalic.woff") format("woff"), url("/fonts/Vollkorn-BoldItalic.ttf") format("truetype"), url("/fonts/Vollkorn-BoldItalic.svg#Vollkorn-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url("/fonts/Cuprum-Regular.eot");
  src: local("Cuprum"), local("Cuprum-Regular"), url("/fonts/Cuprum-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Cuprum-Regular.woff2") format("woff2"), url("/fonts/Cuprum-Regular.woff") format("woff"), url("/fonts/Cuprum-Regular.ttf") format("truetype"), url("/fonts/Cuprum-Regular.svg#Cuprum-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url("/fonts/Cuprum-Bold.eot");
  src: local("Cuprum Bold"), local("Cuprum-Bold"), url("/fonts/Cuprum-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Cuprum-Bold.woff2") format("woff2"), url("/fonts/Cuprum-Bold.woff") format("woff"), url("/fonts/Cuprum-Bold.ttf") format("truetype"), url("/fonts/Cuprum-Bold.svg#Cuprum-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url("/fonts/Vollkorn-Bold.eot");
  src: local("Vollkorn Bold"), local("Vollkorn-Bold"), url("/fonts/Vollkorn-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Vollkorn-Bold.woff2") format("woff2"), url("/fonts/Vollkorn-Bold.woff") format("woff"), url("/fonts/Vollkorn-Bold.ttf") format("truetype"), url("/fonts/Vollkorn-Bold.svg#Vollkorn-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

#back-button {
  width: 40px;
  height: 40px;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  margin: 29px 0 0 20px;
  position: absolute;
}

#back-button #back-sign {
  width: 18px;
  height: 18px;
  border-left: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  -ms-transform: translate(14px, 10px) rotate(45deg);
  -webkit-transform: translate(14px, 10px) rotate(45deg);
  transform: translate(14px, 10px) rotate(45deg);
}

#plus-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font: 100 27px Arial, Helvetica, sans-serif;
  background: #2763B2;
  margin-bottom: 5px;
}

#search-submit {
  height: 35px;
  width: 180px;
  font-size: 0.9em;
  box-sizing: border-box;
  background: white;
  color: #a7a9ac;
  border: 1px solid #a7a9ac;
}

html {
  font: 16px Cuprum, sans-serif;
  letter-spacing: 0.04em;
}

body {
  background: #fbfbfb;
}

header {
  background: white;
  font-family: Cuprum, sans-serif;
  width: 100%;
  position: relative;
}

header #head-container {
  width: 800px;
  margin: 0 auto;
}

header #head-container #head-top {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0 15px 0;
}

header #head-container #head-top #name {
  font-size: 1.8em;
  font-weight: bold;
  letter-spacing: 2px;
}

header #head-container #head-top #head-select {
  width: 360px;
  display: flex;
  justify-content: flex-end;
}

header #head-container #head-top #head-select input {
  margin: 5px;
}

header #head-container #head-top #head-sort {
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

header #head-container #head-top #head-sort p {
  font: italic 0.9em Vollkorn, serif;
}

header #head-container #head-top #head-sort a {
  font: normal 1.1em Cuprum, sans-serif;
  margin: 0 5px;
}

header #head-container #head-bottom {
  padding: 5px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #head-container #head-bottom #text-input {
  height: 35px;
  width: 600px;
  font-size: 0.8em;
  font-weight: 100;
  box-sizing: border-box;
  background: #fbfbfb;
  color: #7e8b93;
  border: 1px solid #eeeeee;
  padding: 0 10px 0 10px;
}

#questions-container {
  width: 100%;
}

#questions-container .question-container {
  height: 320px;
  margin: 0 auto;
  background: white;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 2px 1px 6px 0px gainsboro;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#questions-container .question-container .question-title {
  background-color: #e1f3fd;
  display: flex;
}

.avatar-box {
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar001 {
  background-image: url("/img/avatars/001.png");
}

.avatar002 {
  background-image: url("/img/avatars/002.png");
}

.avatar003 {
  background-image: url("/img/avatars/003.png");
}

.avatar004 {
  background-image: url("/img/avatars/004.png");
}

.avatar005 {
  background-image: url("/img/avatars/005.png");
}

.avatar006 {
  background-image: url("/img/avatars/006.png");
}

.avatar007 {
  background-image: url("/img/avatars/007.png");
}

.number {
  font-size: 1em;
  color: #414b51;
}

.status {
  font: italic 0.9em Vollkorn, serif;
  color: #414b51;
}

.topic {
  height: 90px;
}

.topic p {
  color: #a7a9ac;
  font-weight: 100;
  font-size: 0.75em;
  text-transform: uppercase;
  margin-left: 12px;
  display: inline-block;
}

.topic .user-name {
  color: #2763b2;
  font-size: 1em;
  text-transform: none;
  margin: 15px 0 0 20px;
}

.topic h2 {
  font: italic 1.2em Vollkorn, serif;
  color: #2763b2;
  margin-left: 18px;
}

.margin-bar {
  height: 30px;
  box-sizing: border-box;
}

.margin-bar .blue-box {
  height: 30px;
  background-color: #e1f3fd;
}

.activities {
  display: flex;
  justify-content: space-between;
}

.activitie-box {
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.question-type {
  background-color: #e1f3fd;
}

.more-activities {
  position: relative;
}

.more-activities .description {
  flex-direction: column;
  margin-top: 13px;
}

.more-activities .status-dot {
  top: 150px;
}

.single-activitie {
  background-color: #eeeeee;
}

.active-type {
  height: 30px;
  border-top: 1px solid #a7a9ac;
  position: absolute;
  bottom: 0;
}

.active-type p {
  color: #a7a9ac;
  font-size: 0.75em;
  text-transform: uppercase;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a7a9ac;
  position: absolute;
  top: 26px;
}

.status-box {
  padding-left: 40px;
}

.status-box p {
  margin-bottom: 40px;
}

.answered {
  border-color: black;
}

.answered .status-dot {
  background-color: black;
}

@media (min-width: 801px) {
  .question-container {
    width: 800px;
  }
  .question-container .question-title {
    width: 590px;
  }
  .avatar-box {
    width: 90px;
  }
  .topic {
    width: 500px;
  }
  .margin-bar {
    width: 100%;
  }
  .margin-bar .blue-box {
    width: 90px;
  }
  .activities {
    width: 590px;
  }
  .activitie-box {
    width: 90px;
  }
  .active-type {
    width: 70px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .question-container {
    width: 495px;
  }
  .question-container .question-title {
    width: 495px;
  }
  .avatar-box {
    width: 90px;
  }
  .topic {
    width: 405px;
  }
  .margin-bar {
    width: 100%;
  }
  .margin-bar .blue-box {
    width: 90px;
  }
  .activities {
    width: 305px;
  }
  .activitie-box {
    width: 90px;
  }
  .active-type {
    width: 70px;
  }
}

/*# sourceMappingURL=../maps/main.css.map */
