<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, noarchive">
    <title>questions</title>
    <link href="../css/main.css" rel="stylesheet">
    <script src="../js/app.js"></script>
</head>
<body>
    <header>
        <div id="name">QUESTIONS</div>
        <div id="sort">
            <form>
                <input type="radio" checked>My shelf
                <input type="radio">All questions
            </form>

        </div>
    </header>
    <section>
        <input type="text">
        <input type="submit">
    </section>
</body>
</html>