@media #{$tablet} {
    .question-container {
        width: 495px;
        height: 320px;
        .question-title {
            width: 495px;
        }
    }
    .avatar-box {
        width: 90px;
    }
    .topic {
        width: 405px;
    }
    .margin-bar {
        width: 100%;
        .blue-box {
            width: 90px;
        }
    }
    .activities {
        width: 305px;
    }
    .activitie-box {
        width: 90px;
    }
    .active-type {
        width: 70px;
    }
}