#back-button {
    width: 40px;
    height: 40px;
    border: 1px solid #b2b2b2;
    border-radius: 50%;
    margin: 29px 0 0 20px;
    position: absolute;
    @media #{$desktopSmall} {
        display: none;
    }
    #back-sign {
        width: 18px;
        height: 18px;
        border-left: 1px solid #b2b2b2;
        border-bottom: 1px solid #b2b2b2;
        -ms-transform: translate(14px, 10px) rotate(45deg);
        -webkit-transform: translate(14px, 10px) rotate(45deg);
        transform: translate(14px, 10px) rotate(45deg);
    }
}

#plus-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    font: 100 27px Arial, Helvetica, sans-serif;
    // font-size: 26px;
    background: #2763B2;
    margin-bottom: 5px;
    @extend %flexCentered;
}

#search-submit {
    height: 35px;
    width: 180px;
    font-size: 0.9em;
    box-sizing: border-box;
    background: white;
    color: #a7a9ac;
    border: 1px solid #a7a9ac;
}