html {
    font: 16px $fontSansSerif;
    letter-spacing: 0.04em;
}

body {
    background: $backgroundSite;
}

// HEADER styles

header {
    background: $backgroundMain;
    font-family: $fontSansSerif;
    width: 100%;
    // height: 150px;
    position: relative;
    #head-container {
        width: 800px;
        margin: 0 auto;
        #head-top {
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 0 15px 0;
            #name {
                font-size: 1.8em;
                font-weight: bold;
                letter-spacing: 2px;
            }
            
            #head-select {
                width: 360px;
                display: flex;
                justify-content: flex-end;
                input {
                    margin: 5px;
                }
            }
            #head-sort {
                width: 200px;
                display: flex;
                justify-content: flex-end;
                p {
                    @include fontSerif(0.9em);
                }
                a {
                    @include fontSansSerif(1.1em);
                    margin: 0 5px;
                }
            }
        }
        #head-bottom {
            padding: 5px 0 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #text-input {
                height: 35px;
                width: 600px;
                font-size: 0.8em;
                font-weight: 100;
                box-sizing: border-box;
                background: #fbfbfb;
                color: #7e8b93;
                border: 1px solid #eeeeee;
                padding: 0 10px 0 10px;
            }
        }
    }
}

// main container styles
#questions-container {
    width: 100%;
    .question-container {
        // width: 800px;
        height: 320px;
        margin: 0 auto;
        background: white;
        border-bottom: 1px solid #e5e5e5;
        box-shadow: 2px 1px 6px 0px rgba(220,220,220,1);
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        .question-title {
            // width: 590px;
            background-color: $backgroundTitle;
            display: flex;
        }
    }
}

.avatar-box {
    // width: 90px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    @extend %flexCentered;

}

@for $i from 1 through 7 {
    .avatar00#{$i} {
        background-image: url('/img/avatars/00#{$i}.png');
    }
}
.number {
    font-size: 1em;
    color: $textSecondLevel;
}
.status {
    @include fontSerif(0.9em);
    color: $textSecondLevel;
}

.topic {
    // width: 500px;
    height: 90px;
    p {
        color: $textThirdLevel;
        font-weight: 100;
        font-size: 0.75em;
        text-transform: uppercase;
        margin-left: 12px;
        display: inline-block;
    }
    .user-name {
        color: $textAccented;
        font-size: 1em;
        text-transform: none;
        margin: 15px 0 0 20px;
    }
    h2 {
        @include fontSerif(1.2em);
        color: $textAccented;
        margin-left: 18px;
    }
}

.margin-bar {
    // width: 100%;
    height: 30px;
    box-sizing: border-box;
    .blue-box {
        // width: 90px;
        height: 30px;
        background-color: $backgroundTitle;
    }
}

.activities {
    // width: 590px;
    display: flex;
    justify-content: space-between;
}
.activitie-box {
    height: 155px;
    // width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    // justify-content: space-around;
}

.question-type {
    background-color: $backgroundTitle;
}

.more-activities {
    position: relative;
    .description {
        @extend %flexCentered;
        flex-direction: column;
        margin-top: 13px;
    }
    .status-dot {
        top: 150px;
    }
}

.single-activitie {
    background-color: #eeeeee;
}

.active-type {
    // align-self: flex-end;
    // width: 70px;
    height: 30px;
    border-top: 1px solid $textThirdLevel;
    @extend %flexCentered;
    position: absolute;
    bottom: 0;
    p {
        color: $textThirdLevel;
        font-size: 0.75em;
        text-transform: uppercase;
    }
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $textThirdLevel;
    position: absolute;
    top: 26px;
}

.status-box {
    padding-left: 40px;
    p {
        margin-bottom: 40px;
    }
}

.answered {
    border-color: black;
    .status-dot {
        background-color: black;
    }
}

// ### media ##### ##### ##### ##### #####
@media #{$desktop} {
    .question-container {
        width: 800px;
        .question-title {
            width: 590px;
        }
    }
    .avatar-box {
        width: 90px;
    }
    .topic {
        width: 500px;
    }
    .margin-bar {
        width: 100%;
        .blue-box {
            width: 90px;
        }
    }
    .activities {
        width: 590px;
    }
    .activitie-box {
        width: 90px;
    }
    .active-type {
        width: 70px;
    }
}

// ### media ##### ##### ##### ##### #####
@media #{$tablet} {
    .question-container {
        width: 495px;
        .question-title {
            width: 495px;
        }
    }
    .avatar-box {
        width: 90px;
    }
    .topic {
        width: 405px;
    }
    .margin-bar {
        width: 100%;
        .blue-box {
            width: 90px;
        }
    }
    .activities {
        width: 305px;
    }
    .activitie-box {
        width: 90px;
    }
    .active-type {
        width: 70px;
    }
}