html {
    font: 16px $fontSansSerif;
}

body {
    background: #fbfbfb;
}

// HEADER styles

header {
    background: white;
    font-family: $fontSansSerif;
    width: 100%;
    // height: 150px;
    position: relative;

    #back-button {
        width: 40px;
        height: 40px;
        border: 1px solid #b2b2b2;
        border-radius: 50%;
        margin: 29px 0 0 20px;
        position: absolute;
        #back-sign {
            width: 18px;
            height: 18px;
            border-left: 1px solid #b2b2b2;
            border-bottom: 1px solid #b2b2b2;
            // -ms-transform: translate(10px, 10px) rotate(45deg);
            // -webkit-transform: translate(10px, 10px) rotate(45deg);
            transform: translate(14px, 10px) rotate(45deg);
        }
    }

    #head-container {
        width: 800px;
        margin: 0 auto;
        #head-top {
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 0 15px 0;
            #name {
                font-size: 1.8em;
                font-weight: bold;
                letter-spacing: 2px;
            }
            #plus-button {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                color: white;
                font: 100 27px Arial, Helvetica, sans-serif;
                // font-size: 26px;
                background: #2763B2;
                margin: 0 0 5px 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            #head-select {
                width: 360px;
                display: flex;
                justify-content: flex-end;
                input {
                    margin: 5px;
                }
            }
            #head-sort {
                width: 200px;
                display: flex;
                justify-content: flex-end;
                p {
                    @include fontSerif(0.9em);
                }
                a {
                    @include fontSansSerif(1.1em);
                    margin: 0 5px 0 5px;
                }
            }
        }
        #head-bottom {
            padding: 5px 0 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #text-input {
                height: 35px;
                width: 600px;
                font-size: 0.8em;
                font-weight: 100;
                box-sizing: border-box;
                background: #fbfbfb;
                color: #7e8b93;
                border: 1px solid #eeeeee;
                padding: 0 10px 0 10px;
            }
            #search-submit {
                height: 35px;
                width: 180px;
                font-size: 0.9em;
                box-sizing: border-box;
                background: white;
                color: #a7a9ac;
                border: 1px solid #a7a9ac;
            }
        }
    }
}

// main container styles